In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "unsupervised_learning"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [9]:
import pandas as pd

# filepath: /home/walter/repos/ml_clustering/testData.ipynb
# Importando o arquivo CSV (ajuste o caminho se necessário)
data = pd.read_csv("datasets/csv_result-dataset_31_credit-g.csv", sep=",", quotechar="'")

# Visualizando as primeiras linhas
data.head()

,id,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,1,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,2,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,3,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,4,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,5,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [12]:
X = [data['id'] , data['checking_status'] , data['duration'] , data['credit_history']]

X

[0         1
 1         2
 2         3
 3         4
 4         5
        ...
 995     996
 996     997
 997     998
 998     999
 999    1000
 Name: id, Length: 1000, dtype: int64,
 0               <0
 1         0<=X<200
 2      no checking
 3               <0
 4               <0
           ...
 995    no checking
 996             <0
 997    no checking
 998             <0
 999       0<=X<200
 Name: checking_status, Length: 1000, dtype: object,
 0       6
 1      48
 2      12
 3      42
 4      24
        ..
 995    12
 996    30
 997    12
 998    45
 999    45
 Name: duration, Length: 1000, dtype: int64,
 0      critical/other existing credit
 1                       existing paid
 2      critical/other existing credit
 3                       existing paid
 4                  delayed previously
                     ...
 995                     existing paid
 996                     existing paid
 997                     existing paid
 998                     existing paid
 999    critical/other existing credit
 Name: credit_history, Length: 1000, dtype: object]

In [ ]:
df.head()